<div class="container-fluid">
    <section class="container">
        <header class="d-flex">
            <div>
                <span class="fw-bold fs-6 mb-4 header__title">TRENDING</span>
                <h1 class="fw-bold mt-3 m-0">Trending Games</h1>
            </div>
            <div class="ms-auto mt-auto">
                <a href="#" class="text-decoration-none d-flex align-items-center button button-blue-hover button-large button-red button-white-color">VIEW ALL</a>
            </div>
        </header>
        <div class="row g-4 mt-5 pt-4">
            {% for trend_game in trend_games %}
                <article class="col-lg-3 col-md-6 col-12 ">
                    <div class="trend-games__cart rounded-5">
                        <figure class="m-0 position-relative">
                            <img width="300" height="220" class="rounded-5 trend-games__cart__image"
                                 src="media/{{trend_game.image}}" alt="game"/>
                            <div class="fw-bold d-flex flex-column align-items-end image-transform rounded-4 text-white image__price position-absolute end-0 top-0">
                                {% if trend_game.discount_percent is not None %}
                                    <span class="trend-games__cart__prev-price">${{trend_game.price}}</span>
                                    <span class="m-0 fw-bold fs-6">${{trend_game.discounted_price}}</span>
                                {% else %}
                                    <span class="m-0 fw-bold fs-5">${{trend_game.price}}</span>
                                {% endif %}
                            </div>
                        </figure>
                        <div class="trend-games__cart__detail">
                            <span class="trend-games__cart__detail__genre">Action</span>
                            <div class="d-flex">
                                <span class="fs-5 fw-bold pt-2 trend-games__cart__title">Assassin Creed</span>
                                <span class="trend-games__cart__buy rounded-circle ms-auto ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                                     class="bi bi-bag-fill" viewBox="0 0 16 16">
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4z"/>
                                </svg>
                            </span>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
</div>