<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
            name="description"
            content="Mary's simple recipe for maple bacon donuts
               makes a sticky, sweet treat with just a hint
               of salt that you'll keep coming back for.">

    <link rel="stylesheet" href={%static "global/css/global.css"%}/>
    <link rel="stylesheet" href={%static "forgetPassword/css/forgetPassword.css"%}/>
    <link rel="stylesheet" href={%static "bootstrap/css/bootstrap.min.css"%}/>

    <script src={%static "bootstrap/js/bootstrap.min.js" %}></script>
</head>
<body style="height:100dvh" class="d-flex  align-items-center">
<main class="container d-flex flex-column align-items-center">
    <form method="POST" class="account__form position-relative border p-5 rounded-4 ">
        <h1 class="fs-4 mb-4">Forget password</h1>
        {% csrf_token %}
        {% render_field form.email class+="account__input account__input-invalid mb-3" placeholder="Email" %}
        {% for error in form.email.errors %}
            <span class="invalid mb-2">{{ error }}</span>
        {% endfor %}
        <div class="d-grid w-100">
            <button class="account__button">Send</button>
        </div>
    </form>
</main>
</body>
</html>