.forget-password__title {
    color: var(--background-blue);
    font-size: calc(1vw + .5rem);
    width: 100%;
    max-width: 50rem;
    text-align: justify;
    line-height: 1.7;
    font-weight: bold;
}

.send-code {
    position: absolute;
    right: 0%;
    top: 10%;
    width: 50%;
    padding: .5rem 1rem;
    border: 3px solid #eee;
    border-radius: 32px;
}

.code-input::-webkit-outer-spin-button,
.code-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code-input {
    text-align: center;
    border: none;
    border-bottom: 1px solid var(--background-blue);
    outline: none;
}


.code-input .code-input__circle {
    display: none;
}

.code-input__circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--background-blue);
    position: absolute;
    top: 0;
    left: 33%;
    display: block;
}

.input-invalid-text{
    color: var(--background-red);
    height: 4rem;
    font-weight: bold;
    display: flex;
    padding: 1.5rem 0;
}