<section id="hero-section" class="hero-section container-fluid">
    <div class="container">
        <div class="row banner__row">
            <h1 class="hero-section__heading text-white fw-bold text-center">MODERN WARFARE® II</h1>
            <nav class="fs-5 text-center text-white d-flex justify-content-center">
                <a href="../" class="page-link me-2">Home</a>
                <a href="#" class="mx-2 page-link">Shop</a>
                <span class="ms-2 fs-5">Product</span>
            </nav>
        </div>
    </div>
</section>