<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
            name="description"
            content="Mary's simple recipe for maple bacon donuts
               makes a sticky, sweet treat with just a hint
               of salt that you'll keep coming back for.">

    <link rel="stylesheet" href={%static "global/css/global.css"%}/>
    <link rel="stylesheet" href={%static "global/css/header.css"%}/>
    <link rel="stylesheet" href={%static "global/css/footer.css"%}/>
    <link rel="stylesheet" href={%static "home/css/hero-section.css"%}/>
    <link rel="stylesheet" href={%static "home/css/trend-games.css"%}/>
    <link rel="stylesheet" href={%static "bootstrap/css/bootstrap.min.css"%}/>
    <link rel="stylesheet" href={%static "shop/css/shop.css" %}/>
    <link rel="stylesheet" href={%static "product/css/product.css" %}/>
    <script src={%static "bootstrap/js/bootstrap.min.js" %}></script>
</head>

<body>
{% include "header.html" %}

{% include "detail/hero_section.html" %}

{% include "detail/main.html" %}

{% include "home/most_played.html" %}

{% include "footer.html" %}
<script src="/static/gsap/dist/gsap.min.js"></script>
<script src="/static/gsap/dist/ScrollTrigger.min.js"></script>
<script src="/static/gsap/dist/Flip.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src={% static "global/js/index.js" %}></script>
<script src={% static "product/js/index.js" %}></script>
</body>

</html>