<section class="container-fluid mt-5 pt-5">
    <div class="container">
        <header class="d-flex justify-content-center">
            <ul class="d-flex flex-wrap p-0 justify-content-center list-group-horizontal">
                <li class="list-group-item px-md-3 px-1 mt-3"><button class="shop__btn-active show__btn button button-small">SHOW ALL</button></li>
                <li class="list-group-item px-md-3 px-1 mt-3"><button class="button button-small show__btn button-red-text-hover">ADVENTURE</button></li>
                <li class="list-group-item px-md-3 px-1 mt-3"><button class="button button-small show__btn button-red-text-hover">STRATEGY</button></li>
                <li class="list-group-item px-md-3 px-1 mt-3"><button class="button button-small show__btn button-red-text-hover">RACING</button></li>
            </ul>
        </header>
        <!--place the products here-->
        <main class="my-5 py-5"></main>
        <footer class="d-flex justify-content-center">
            <ul class="d-flex flex-wrap justify-content-center p-0 list-group-horizontal nav-indicators">
                <li class="list-group px-4 mt-3 rounded-circle nav-indicators__item mx-2"> < </li>
                <li class="list-group px-4 mt-3 rounded-circle nav-indicators__item mx-2">1</li>
                <li class="list-group px-4 mt-3 rounded-circle nav-indicators__item mx-2 nav-indicators__item-active">2</li>
                <li class="list-group px-4 mt-3 rounded-circle nav-indicators__item mx-2">3</li>
                <li class="list-group px-4 mt-3 rounded-circle nav-indicators__item mx-2"> > </li>
            </ul>
        </footer>
    </div>
</section>